<%- layout('layouts/main.ejs')%>
<br><br><br><br><br><br>
<h1 class="jumbotron" style="text-align:center;font-family:sans-serif;font-size: xxx-large;">ABC COMPANY</h1>
<h2 class="jumbotron" style="text-align:center;font-family:sans-serif;font-size: xx-large;">PROJECT OPENINGS PORTAL</h2>