<%- layout('layouts/main.ejs') %>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Signup</h3>
            </div>
            <div class="card-body">
                <form action="/signup" method="POST" onsubmit="return validate();">
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Insert Email" class="form-control">
                        <label  class="alert" id="email-error" style="display:none"> Please enter an email id </label>   
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" placeholder="Insert Password" class="form-control">
                        <label  class="alert" id="password-error" style="display:none"> Please enter a password </label> 
                    </div>
                    <div class="form-group">
                            <select name="roles" id="roles" class="form-control" required>
                             <option value="Default">Select Role:</option>
                              <option value="Manager">Manager</option>
                              <option value="Employee">Employee</option>
                            </select>
                        </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        Signup
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function validate(){
      var emailvalidated = false;
      var passwordvalidated = false;
 
      if(document.getElementById('email').value == "") {
        document.getElementById('email-error').style.display = 'table-row';
        emailvalidated = false;
      } else {
        document.getElementById('email-error').style.display = 'none';
        emailvalidated =  true;
      }
      if(document.getElementById('password').value == "") {
        document.getElementById('password-error').style.display = 'table-row';
        passwordvalidated = false;
      } else {
        document.getElementById('password-error').style.display = 'none';
        passwordvalidated =  true;
      }
      
      return emailvalidated && passwordvalidated;
    }
    
    </script>

